<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackers News  Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div id="links">
            <a href="home.html" style="margin-right: 20px;">Home</a>
            <a href="contact.html">Contact</a>
        </div>
        <div id="title">
            <h1>Hacker News</h1>
        </div>
    </header>
    <div id="content">
        <form>
            <input type="text" placeholder="Enter your mail..." id="input-email" required>
            <input type="submit" value="Subscribe" id="submit_btn">
        </form>

        <div>
            <div class="new_message">
                <h4 id="header_message">25/03/2022 - Lorem Ipsum (@hackerman)</h4>
                <p id="content_message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio dui, porttitor quis consequat et, mattis eu odio.
                </p>
            </div>
            <div class="new_message">
                <h4 id="header_message">24/03/2022 - Amet Mattis (@webmonster)</h4>
                <p id="content_message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc odio dui, porttitor quis consequat et, mattis eu odio.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <h3>Hacker News - 2022</h3>
    </footer>
</body>

</html>